<div>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name">
        </div>

        <div>
            <label for="email">email</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</div>