<div class="add-reserve-container">
    <form action="/reserve/add" method="POST">
        <input id="name" name="name" type="text" placeholder="name">
        <button type="submit">Submit</button>
    </form>
</div>