<div class="add-zone-container">
    <form method="post" action="/zone/add">
        <input name="name" id="name" placeholder="name">
        <input name="location" id="location" placeholder="location">
        <input name="reserveid" id="reserveid" placeholder="reserves">
        <button type="submit">Submit</button>
    </form>
</div>